html, body{
  height: 100%;
}
*{
  margin:0; padding: 0;
  font-family: 'Quicksand', sans-serif;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.reset{
  clear: both;
}
.wrapper{
  width: 100%;
}

.wrapper header{
  background-image: url(http://photoawards.com/submit/upload/2007/large/8-72372-14_IPA_EAP_AD_Singles-13.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:50% 50%;
  background-position:50% 50%9 !important;
  position: relative;
}
.wrapper header .logo{
  top: 15px;
  left: 10px;
  position: relative;
}

.wrapper header .logo .name{
  color:white;
  font-size: 6vh;

}

.wrapper header .logo span {
  margin:0;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 18px;

}

header .slogan{
  text-align: center;
  color: #FFF;
  margin-top: 250px;
}
.slogan p{
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-size: 300%;
}

header .menu1{
  float: right;
  color: #FFF;
  position: absolute;
  top: 15px;
  right: 10px;
}

.wrapper header .menu1 .cl-effect-9 a{
  display: inline-block;
  padding-right: 10px;
  padding-left: 5px;
  font-size: 100%;
  text-decoration: none;
  color: #FFF;
}
/* Effect 12: circle */
nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

nav a:hover,
nav a:focus {
  outline: none;
}

.cl-effect-12 a::before,
.cl-effect-12 a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  border: 2px solid rgba(245, 234, 234, 0.18);
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
  width: 70px;
  height: 70px;
  border-width: 6px;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

/* content */

.wrapper .content{
  width: 90%;
  margin: 0 auto;
}

.content .featured .images_featured{
  padding-top: 30px;
}

.content .featured .images_featured img{
  border: 3px solid red;
  display: block;
  float: left;
}

.images_featured .block1{
  height: 230px;
}

.featured_image_small{
  width: 267px;
  height: 226px;
}   

.featured_image_big{
  width: 680px;
}   


.content .featured h2{
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
} 


